@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

*{
  font-family: Quicksand;
}

@theme{
  --color-black1: #161c2d;
  --color-grey1: #707070;
  --color-blue1: #4881fb;
  --color-golden1: #fee74a;
}

.container{
  margin: 0 auto;
  max-width: 1320px;
}
.trans{
  transition: all linear .3s;
}